<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="jwt-token" content="{{ token }}" />
    <title>📖 Dictionary</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Overpass:300,400,600,800'>
    <link rel="stylesheet" href="{{assetPath 'main.css'}}">
    <script src='https://use.fontawesome.com/facf9fa52c.js'></script>
  </head>
  <body>
    <div id="root"></div>
    <script>
      const params = new URLSearchParams(window.location.search);
      const token = params.get('token');
      if (token) {
        // Check if page accessed in plugin context
        if (typeof browser !== 'undefined' &&
          typeof browser.storage !== 'undefined' &&
          typeof browser.storage.local !== 'undefined') {
          browser.storage.local.set('authToken', token);
        } else {
          localStorage.setItem('authToken', token);
        }
      }
    </script>
    <script src="{{assetPath 'main.js'}}"></script>
  </body>
</html>
